# staging-yyyymmdd-n または production-yyyymmdd-n のタグpush時のみパイプラインを実行する
workflow:
  rules:
    - if: $CI_COMMIT_TAG =~ /^(staging|production)-\d{8}-\d+$/

# stagesは、パイプラインの実行順序を明示している
# 上から順に実行され、前のstageが完了しなければ次のstageは実行されない。
stages:
  - test
  - build
  - deploy

# ノードジョブの共通設定
.node_base:
  image: node:20.11.1
  before_script:
    - npm install

# デプロイジョブの共通設定
.deploy_base:
  stage: deploy
  when: manual
  before_script:
    - apt-get update -qq && apt-get install -y -qq lftp

test:
  extends: .node_base
  stage: test
  script:
    - npm test

build:
  extends: .node_base
  stage: build
  script:
    - npm run build # package.jsonのbuildコマンドが使用される。
  artifacts:
    paths:
      - dist/ # buildの結果出力されるファイルの出力先。buildがwebpackの設定に基づくから、webpack.config.js記載の出力先にする。

# staging-yyyymmdd-n のタグpushでステージングへデプロイ（手動実行）
deploy-staging:
  extends: .deploy_base
  rules:
    - if: $CI_COMMIT_TAG =~ /^staging-\d{8}-\d+$/
  script:
    - lftp -c "open -u $FTP_USERNAME,$FTP_PASSWORD $FTP_HOST; set ssl:verify-certificate no; mirror -Rev dist/ $FTP_STAGING_PATH --ignore-time --parallel=10 --exclude-glob .git* --exclude .git/"

# production-yyyymmdd-n のタグpushで本番へデプロイ（手動実行）
deploy-production:
  extends: .deploy_base
  rules:
    - if: $CI_COMMIT_TAG =~ /^production-\d{8}-\d+$/
  script:
    - lftp -c "open -u $FTP_USERNAME,$FTP_PASSWORD $FTP_HOST; set ssl:verify-certificate no; mirror -Rev dist/ $FTP_PATH --ignore-time --parallel=10 --exclude-glob .git* --exclude .git/"
